h1, h3 {
	font-family: Verdana, sans-serif;
	padding-left: 15px;	
}

p {
	font-family: Helvetica, sans-serif;
	padding-left: 400px;
	padding-right: 400px;
}

img {
	padding-left: 30px;
}

a {
	text-decoration: none;
	font-family: Verdana, sans-serif;
	color: black;
}

a:hover {
	color: blue;
}

table {
	font-family: Verdana, sans-serif;
	padding: 15px;
}

th, td {
	padding: 10px;
}

body {
	background-color: #F5DEB3;
}

